Lib/bin/Debug/net5.0/Lib.dll
Lib/bin/Debug/net5.0/Lib.pdb
Lib/bin/Debug/net5.0/ref/Lib.dll
RankCalculator/bin/Debug/net5.0/Microsoft.Extensions.Configuration.Abstractions.dll
RankCalculator/bin/Debug/net5.0/Microsoft.Extensions.Configuration.Binder.dll
RankCalculator/bin/Debug/net5.0/Microsoft.Extensions.Configuration.dll
RankCalculator/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
RankCalculator/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
RankCalculator/bin/Debug/net5.0/Microsoft.Extensions.Logging.Abstractions.dll
RankCalculator/bin/Debug/net5.0/Microsoft.Extensions.Logging.Configuration.dll
RankCalculator/bin/Debug/net5.0/Microsoft.Extensions.Logging.Console.dll
RankCalculator/bin/Debug/net5.0/Microsoft.Extensions.Logging.dll
RankCalculator/bin/Debug/net5.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
RankCalculator/bin/Debug/net5.0/Microsoft.Extensions.Options.dll
RankCalculator/bin/Debug/net5.0/Microsoft.Extensions.Primitives.dll
RankCalculator/bin/Debug/net5.0/Microsoft.Win32.SystemEvents.dll
RankCalculator/bin/Debug/net5.0/NATS.Client.dll
RankCalculator/bin/Debug/net5.0/Pipelines.Sockets.Unofficial.dll
RankCalculator/bin/Debug/net5.0/StackExchange.Redis.dll
RankCalculator/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
RankCalculator/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
RankCalculator/bin/Debug/net5.0/System.Diagnostics.PerformanceCounter.dll
RankCalculator/bin/Debug/net5.0/System.Drawing.Common.dll
RankCalculator/bin/Debug/net5.0/System.IO.Pipelines.dll
RankCalculator/bin/Debug/net5.0/System.Runtime.CompilerServices.Unsafe.dll
RankCalculator/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
RankCalculator/bin/Debug/net5.0/System.Security.Permissions.dll
RankCalculator/bin/Debug/net5.0/System.Text.Encodings.Web.dll
RankCalculator/bin/Debug/net5.0/System.Text.Json.dll
RankCalculator/bin/Debug/net5.0/System.Windows.Extensions.dll
RankCalculator/bin/Debug/net5.0/ref/RankCalculator.dll
RankCalculator/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
RankCalculator/bin/Debug/net5.0/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
RankCalculator/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
RankCalculator/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
RankCalculator/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
RankCalculator/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Lib/obj/Debug/net5.0/Lib.pdb
Lib/obj/Debug/net5.0/ref/Lib.dll
Lib/obj/Debug/net5.0/Lib.GeneratedMSBuildEditorConfig.editorconfig
Lib/obj/Debug/net5.0/Lib.dll
Lib/obj/Debug/net5.0/Lib.csprojAssemblyReference.cache
Lib/obj/Debug/net5.0/Lib.csproj.FileListAbsolute.txt
Lib/obj/Debug/net5.0/Lib.csproj.CoreCompileInputs.cache
Lib/obj/Debug/net5.0/Lib.assets.cache
Lib/obj/Debug/net5.0/Lib.AssemblyInfoInputs.cache
Lib/obj/Debug/net5.0/Lib.AssemblyInfo.cs
Lib/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Lib/obj/project.nuget.cache
Lib/bin/Debug/net5.0/Lib.deps.json
Lib/obj/Lib.csproj.nuget.dgspec.json
Lib/obj/Lib.csproj.nuget.g.props
Lib/obj/Lib.csproj.nuget.g.targets
Lib/obj/project.assets.json
nats/nats-server.exe
nginx/nginx.exe
nginx/conf/fastcgi_params
nginx/conf/fastcgi.conf
nginx/conf/koi-utf
nginx/conf/koi-win
nginx/conf/nginx.conf.default
nginx/conf/mime.types
nginx/conf/proxy_params.conf
nginx/conf/scgi_params
nginx/conf/start.ico
nginx/conf/stop.ico
nginx/conf/uwsgi_params
nginx/conf/win-utf
nginx/conf/vhosts/local.conf
nginx/contrib/geo2nginx.pl
nginx/contrib/README
nginx/contrib/unicode2nginx/koi-utf
nginx/contrib/unicode2nginx/unicode-to-nginx.pl
nginx/contrib/unicode2nginx/win-utf
nginx/docs/CHANGES
nginx/docs/CHANGES.ru
nginx/docs/LICENSE
nginx/docs/OpenSSL.LICENSE
nginx/docs/PCRE.LICENCE
nginx/docs/README
nginx/docs/zlib.LICENSE
nginx/logs/access.log
nginx/logs/error.log
nginx/logs/local_access.log
RankCalculator/bin/Debug/net5.0/Lib.dll
RankCalculator/bin/Debug/net5.0/Lib.pdb
RankCalculator/obj/Debug/net5.0/RankCalculator.AssemblyInfo.cs
RankCalculator/obj/Debug/net5.0/RankCalculator.AssemblyInfoInputs.cache
RankCalculator/obj/Debug/net5.0/RankCalculator.assets.cache
RankCalculator/obj/Debug/net5.0/RankCalculator.csproj.CopyComplete
RankCalculator/obj/Debug/net5.0/RankCalculator.csproj.CoreCompileInputs.cache
RankCalculator/obj/Debug/net5.0/RankCalculator.csproj.FileListAbsolute.txt
RankCalculator/obj/Debug/net5.0/RankCalculator.csprojAssemblyReference.cache
RankCalculator/obj/Debug/net5.0/RankCalculator.dll
RankCalculator/obj/Debug/net5.0/RankCalculator.GeneratedMSBuildEditorConfig.editorconfig
RankCalculator/obj/Debug/net5.0/apphost.exe
RankCalculator/obj/Debug/net5.0/RankCalculator.genruntimeconfig.cache
RankCalculator/obj/Debug/net5.0/RankCalculator.pdb
RankCalculator/obj/Debug/net5.0/ref/RankCalculator.dll
RankCalculator/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RankCalculator/obj/Debug/netcoreapp3.1/RankCalculator.AssemblyInfo.cs
RankCalculator/obj/Debug/netcoreapp3.1/RankCalculator.AssemblyInfoInputs.cache
RankCalculator/obj/Debug/netcoreapp3.1/RankCalculator.csprojAssemblyReference.cache
RankCalculator/obj/Debug/netcoreapp3.1/RankCalculator.csproj.FileListAbsolute.txt
RankCalculator/obj/Debug/netcoreapp3.1/RankCalculator.csproj.CoreCompileInputs.cache
RankCalculator/obj/Debug/netcoreapp3.1/RankCalculator.assets.cache
RankCalculator/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
RankCalculator/obj/RankCalculator.csproj.nuget.g.targets
RankCalculator/obj/RankCalculator.csproj.nuget.g.props
RankCalculator/obj/RankCalculator.csproj.nuget.dgspec.json
RankCalculator/obj/project.nuget.cache
RankCalculator/obj/project.assets.json
RankCalculator/bin/Debug/net5.0/RankCalculator.runtimeconfig.json
RankCalculator/bin/Debug/net5.0/RankCalculator.runtimeconfig.dev.json
RankCalculator/bin/Debug/net5.0/RankCalculator.pdb
RankCalculator/bin/Debug/net5.0/RankCalculator.exe
RankCalculator/bin/Debug/net5.0/RankCalculator.dll
RankCalculator/bin/Debug/net5.0/RankCalculator.deps.json
nats/README.md
nats/LICENSE
